.container{
  text-align: center;
}
.now{
  border-radius: 50%;
}
.display-4{
  padding: 10px;
}
#about{
  background-color: rgb(238, 232, 232);
  padding: 20px;
}
.carousel{
  height: 500px;
  padding: 20px;
   background-color: rgb(238, 232, 232);
}
#contact{
  padding: 20px;
   background-color: rgb(238, 232, 232);
}
#experience{
  padding: 30px;
  background-color: rgb(238, 232, 232);
}

